#3d-container {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
}


.headerImage{
    background-color: white;
}
.group{
    background-color:rgb(229, 225, 230);
}
@font-face{
    font-family: gineso-condensed;
    src: local("Gineso Cond Medium"),
    url(GinesoCondMedium.otf);
    font-weight: bold;
}
img{
    width: 400px;
  
}

.studioHeader .createTitle{
    
    width: 100%;
    border: 5px solid rgb(117, 120, 123);
    background-color:rgb(117, 120, 123);
    padding: 10px;
   
    font-family: gineso-condensed;
    color: white;
    font-size: 40px;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
   
}
#home{
    color: white;
    width: 100%;
    font-family: gineso-condensed;
    font-size: larger;
    background-color: rgb(134,31,65);;
}
#map{
    color: white;
    width: 100%;
    font-size: larger;
    
    font-family: gineso-condensed;
    background-color: rgb(134,31,65);;
}




